/* Globals */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');
html, body, #root, #piano-page-background {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: #171717;
}

#header-logo-text {
  font-weight: 900;
  color: white;
  letter-spacing: 0.1em;
}

#piano-page-background-mask {
  /* Can't use shorthand for background property values b/c styles compete with the custom bg image */
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  transform: scale(1.1);
  height: 100%;
}

#piano-page-background-mask > div {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  height: 100%;
  width: 100%;
}

#piano-page-background-2 {
  background-color: #0000008a;
  /* -webkit-mask: -webkit-linear-gradient(0.25turn, black, transparent 50%, black); */
  /* -webkit-mask: linear-gradient(0.5turn, black, transparent 50%, black); */
  -webkit-filter: blur(3px);
  /* mask: url('./img/filters.svg#mask-linear'); */
  /* filter: url('./img/filters.svg#filtre2'); */
  mask-type: luminance;
}

/* #piano-page-background-2 { */
/*     -webkit-mask: none; */
/*     -webkit-filter: none; */
/*     mask: none; */
/*     filter: none; */
/* } */

/* Grid */
/* #content { */
/*   display: grid; */
/*   grid-gap: 10px; */
/*   grid-template-columns: 1fr 2fr 1fr; */
/*   /\* grid-template-columns: minmax(200px, 1fr) 2fr 0.8fr; *\/ */
/*   /\* grid-auto-rows: 70px 1fr; *\/ */
/*   grid-template-rows: 70px 1fr 20px; */
/*   grid-gap: 10px; */
/*   position: fixed; */
/*   left: 0; */
/*   right: 0; */
/*   z-index: 10; */
/*   margin-left: 20px; */
/*   margin-right: 20px; */
/*   margin-bottom: 20px; */
/*   height: 100%; */
/* } */


/* #header { */
/*   grid-column: 1 / 1; */
/*   grid-row: 1 / 1; */
/* } */

/* #roomlist-container { */
/*   grid-column: 1 / 1; */
/*   grid-row: 2 / 2; */
/* } */

/* #room { */
/*   grid-column: 2 / 2; */
/*   grid-row: 2 / 2; */
/* } */

/* #room-header { */
/*   grid-column: 2 / 2; */
/*   grid-row: 1 / 1; */
/* } */

/* #chat-container { */
/*   grid-column: 3 / 3; */
/*   grid-row: 2 / 2; */
/* } */

/* #room { */
/*   flex: 1 0 auto; */
/*   position: relative; */
/* } */

/* #room:after { */
/*   content: ""; */
/*   float:left; */
/*   display: block; */
/*   padding-top: 100%; */
/* } */

#sidebar-container {
  display: flex;
  flex-direction: column;
}

.username-lightbox-cover {
  position: fixed;
  z-index: 500;
  width: 100%;
  height: 100%;
  background: #000000e8;
}

.username-lightbox-container {
  background: white;
  border-radius: 10px;
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  z-index: 101;
  padding: 1em;
}

.room-list-item-container {
  display: flex;
  align-items: center;
}

.room-list-item-container > * {
  margin-right: 4px;
}

.room-list-item-room-name {
  margin: 0;
  text-decoration: none;
  color: white;
}

.room-list-item-metadata {
  font-size: 0.65em;
  color: #D3D3D3;
  text-decoration: none;
  margin-top: -2px;
}

/* Text */
h1, h2 {
  font-weight: 700;
  color: white;
}

/* Forms */
/* input[type='submit'], .button { */
/*   display: inline-flex; */
/*   align-items: center; */
/*   padding: 0.5em; */
/*   color: #fff; */
/*   border-radius: 8px; */
/*   box-shadow: 2px -2px 4px #53535347; */
/*   cursor: pointer; */
/*   user-select: none; */
/*   transition: 0.1s all; */
/*   font-weight: 600; */
/* } */

/* input[type="color"] { */
/* 	opacity: 0; */
/* 	display: block; */
/* 	width: 32px; */
/* 	height: 32px; */
/* 	border: none; */
/* } */

.input-border {
  border: 2px solid #7f7f7f !important;
}

#color-picker-wrapper, #color-picker-wrapper-3, #color-picker-wrapper-2 {
  border-radius: 100px;
  width: 25px;
  height: 25px;
  border: 2px dotted white;
}

/* Shared with Icons and Buttons */
.button:active, .icon-container:active {
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px) scale(0.98);
}

/* input:not([type='color']) { */
/*   background: white; */
/*   border: 0; */
/*   border-radius: 8px; */
/*   padding: 1em; */
/*   font-size: 1em; */
/* } */

#chat-container {
  display: flex;
  align-items: flex-end;
}

/* .button { */
/*   text-decoration: none; */
/*   font-weight: 400; */
/*   font-size: 1em; */
/*   display: inline-block; */
/* } */

/* 
 * Icons
 */
.icon-container {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  cursor: pointer;
  box-shadow: 2px -2px 4px #53535347;
  background: #ecececcc;
  transition: 0.1s all;
}

.icon-loading-animate {
  background: linear-gradient(#dd51dd, #dd51dd4f);
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-duration: 0.8s;
  animation-timing-function: ease;
/*    animation-timing-function: cubic-bezier(.79,.14,.15,.86);*/
}

.icon-outer {
  border-radius: 200px;
  width: 40px;
  height: 40px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.icon-inner {
  background: white;
  width: 35px;
  height: 35px;
  border-radius: 100px;
}

.icon-container:hover > .tooltip-container {
  opacity: 1;
  visibility: visible;
  /* display: block; */
  transition-delay: 1s;
}

.tooltip-container:hover {
  transition-delay: 1s;
}

.icon-image {
  max-height: 15px;
  max-width: 20px;
  z-index: 10;
}

.icon-adjust {
  transform: scale(0.8);
}

.tooltip-container {
  position: relative;
  top: -68px;
  left: -40px;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s 0s;
}

.tooltip {
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 0.3em;
  position: absolute;
  text-align: center;
}

.tooltip-text {
  background: #fff;
  color: #3c3c3c;
  padding: 0.5em;
  border-radius: 5px;
}

.triangle-path {
  fill: #fff;
}


.tooltip-triangle {
  position: relative;
  top: -5px;
  width: 55px;
}

@keyframes loading {
  from {
      transform: rotate(0);
  }

  to {
      transform: rotate(360deg);
  }
}
