/* Globals */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap');
html, body, #root, #piano-page-background {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#header-logo-text {
  font-weight: 900;
  color: white;
  letter-spacing: 0.1em;
}

#piano-page-background {
  /* Can't use shorthand for background property values b/c styles compete with the custom bg image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  transform: scale(1.1);
}

#content {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 2fr 0.8fr;
  grid-auto-rows: minmax(70px, auto);
  grid-gap: 10px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  margin-left: 20px;
  margin-right: 20px;
}

#sidebar-container {
  display: flex;
  border: 1px solid red;
  flex-direction: column;
}

.username-lightbox-cover {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #000000e8;
}

.username-lightbox-container {
  background: white;
  border-radius: 10px;
  position: fixed;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -100px; /* Negative half of height. */
  margin-left: -250px; /* Negative half of width. */
  z-index: 101;
  padding: 1em;
}

/* Text */
h2 {
  font-weight: 700;
  color: white;
}

/* Forms */
input[type='submit'] {
  display: inline-flex;
  align-items: center;
  padding: 0.5em;
  color: #fff;
  border-radius: 8px;
  box-shadow: 2px -2px 4px #53535347;
  cursor: pointer;
  user-select: none;
  transition: 0.1s all;
  font-weight: 600;
}

input[type="color"] {
	opacity: 0;
	display: block;
	width: 32px;
	height: 32px;
	border: none;
}

.input-border {
  border: 2px solid #7f7f7f !important;
}

#color-picker-wrapper {
  border-radius: 100px;
  width: 25px;
  height: 25px;
  border: 2px dotted white;
}

/* Shared with Icons and Buttons */
.button:active, .icon-container:active {
  box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.1);
  transform: translate(0, -2px) scale(0.98);
}

input:not([type='color']) {
  background: white;
  border: 0;
  border-radius: 8px;
  padding: 1em;
  font-size: 1em;
}
